.header__inner {
    text-align: center;
    border-bottom: 2px solid #ddd;
    margin: 0px auto;
    font-family: serif;
}

.header__logo {
    position: relative;
}

.link__logout {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    padding: 5px 20px;
    font-family: serif;
    font-size: 20px;
    border: 1px solid #cdc6c1;
    color: #cdc6c1;
    text-decoration: none;
    background-color: #efefef;
}

* {
    color: #93857c;
    font-weight: lighter;
}

.admin__content {
    max-width: 1230px;
    margin: 0px auto;
}

.admin__content-item {
    width: 90%;
    margin: 0px auto;
    padding: 60px;
}

.admin__ttl {
    text-align: center;
    margin: 0px auto;
    font-family: serif;
}

.form {
    margin-top: 40px;
}

.form__search-item {
    text-align: left;
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.item-input{
    padding-left: 10px;
    border: #ddd 1px solid;
    background-color: #fbfbfb;
    width: 30%;
}

.item-select__gender{
    padding: 5px 30px;
    appearance: none;
    padding-left: 10px;
    background-color: #efefef;
    border: #ddd 1px solid;

}

.item-select__content{
    padding: 5px 10px;
    appearance: none;
    background-color: #efefef;
    border: #ddd 1px solid;

}

.item-select__date{
    padding:5px 10px;
    background-color: #efefef;
    border: #ddd 1px solid;

}

.item-button__search{
    padding: 5px 30px;
    background-color: #93857c;
    color: #efefef;
    border: none;

}

.item-button__reset{
    padding: 5px 10px;
    background-color: #dbc4b2;
    color: #efefef;
    border: none;
}

.item-button__export{
    border: none;
    background-color: #ece8e5;
    padding: 5px 20px;
}

p {
    text-align: center;
    margin: 3rem 0;
    color: #aaa;
}

.visuallyhidden {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    white-space: nowrap;
    width: 1px;
}

.pagination {
    display: flex;
    justify-content: center;
    text-align: center;
    border: 1px #ddd solid;

    a {
        display: inline-block;
        padding: .5rem .7rem;
        text-decoration: none;

        &:hover,
        &:focus {
            background-color: #ddd;
        }
    }
}

.pagination__prev {
    &::before {
        content: '<';
    }
}

.pagination__next {
    &::before {
        content: '>';
    }
}

.pagination__items {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    counter-reset: pagination;
    margin: 0 1px;
    border-right: 1px #ddd solid;

    li {
        position: absolute;
        top: -100vh;
        counter-increment: pagination;
        margin: 0 1px;

        &:first-child,
        &:last-child {
            position: static;
        }

        &.is-active {
            position: static;

            &:not(:nth-child(1)):not(:nth-child(2)) {
                &::before {
                    display: inline-block;
                    margin-right: 2px;
                }
            }

            &+li,
            &+li+li {
                position: static;
            }

            &+li+li:not(:last-child):not(:nth-last-child(2)) {
                &::after {
                    content: '4';
                    display: inline-block;
                    padding: .5rem .7rem;
                    margin-left: 2px;
                }
            }
        }
    }

    a {
        &::before {
            content: counter(pagination);
        }
    }

    .is-active a {
        background-color: #93857c;
        color: white;
    }
}

.form__item{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    height: 40px;
}

.admin-table{
    border: 1px solid #ddd;
    margin-top: 40px;
    width: 100%;
    padding: 0px;
}

.table__header{
    height: 50px;
    background-color: #93857c;
}

.header__label{
    color: #efefef;
    font-weight: bold;
    margin: 0px;
    padding-left: 30px;
    text-align: left;
}

.table__row{
    height: 60px;
    border-bottom: #ddd 1px solid;
}

.table__item{
    padding-left: 20px;
    border-bottom: #ddd 1px solid;
}