.header {
    background-color: #fff;
}

.header__inner {
    text-align: center;
    border-bottom: 2px solid #ddd;
    margin: 0px auto;
    font-family: serif;
}
.header__logo{
    position: relative;
}

.link__login{
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    padding: 5px 20px;
    font-family: serif;
    font-size: 20px;
    border: 1px solid #cdc6c1;
    color: #cdc6c1;
    text-decoration: none;
    background-color: #efefef;
}

* {
    color: #93857c;
    font-weight: lighter;


}

.register__content {
    max-width: 1230px;
    background-color: #ece8e5;
    margin: 0px auto;

}
.register__content-item{
    width: 60%;
    margin: 0px auto;
    padding: 60px;
}

.register__ttl {
    text-align: center;
    margin: 0px auto;
    font-family: serif;
}
.form{
    background-color: #fff;
    border-radius: 3px;
    margin-top: 60px;
    border: #ddd 1px solid;
}
.form__item{
    margin: 0px auto;
    padding:  40px;
    width: 60%;
    text-align: left;
}

.form__group-item--input{
    width: 100%;
    height: 40px;
    background-color: #efefef;
    border: none;
    margin-bottom: 20px;
    padding-left: 20px;
}

.form__group-item--label{
    margin-bottom: 10px;

}

.form__button{
    text-align: center;
    margin-top: 40px;
}
.form__button-submit{
    padding: 5px 20px;
    color: #efefef;
    background-color: #81736a;
    border: none;
    width: 30%;
}