
.thanks__content{
    text-align: center;
    z-index: 5;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.thanks__message{
    background-position: center;
    color: #93857c;
}

.thanks__background{
    text-align: center;
    max-width: 1230px;
    position: relative;
}
.thanks__background-message{
    font-family: serif;
    color: #efefef;
    z-index: 1;
    background-position: center;
    font-size:200px;
}
.thanks__link {
    margin: 100px auto;
    text-align: center;
}

.link__home {
    padding: 5px 20px;
    margin: 0px auto;
    color: #efefef;
    background-color: #81736a;
    border: none;
    font-family: serif;
    text-decoration: none;
}